@import url('submenu-media-queries.css');
@import url('perfil-media-queries.css');

@media only screen and (max-width: 775px) {
    #botones {
        display: none  !important;
    }
    .boton-submenu {
        display: initial;
    }
}

@media only screen and (min-width: 775px) {
    #botones {
        display: initial;
    }
    .boton-submenu {
        display: none;
    }
}
