@import url("../colores.357ce5cf847f.css");

.boton-submenu {
    position: absolute;
    cursor: pointer;
    height: 100%;
    width: 10vh;
}
.boton-submenu.izquierda { left: 0; }
.boton-submenu.derecha { right: 0; }

.boton-submenu figure {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
}

.boton-submenu figure img {
    height: 70%;
    width: 70%;
}

.contenedor-submenu {
    top: calc(10vh + 1em);
    z-index: 100000;
    position: fixed;
    height: auto;
    width: 25vw;
    padding: 0;
    margin: 0;
}
.contenedor-submenu.izquierda { left: 1em; }
.contenedor-submenu.derecha { right: 1em; }

.submenu {
    box-shadow: 0 0 8px var(--color-sombras);
    background-color: var(--bgc-primario);
    border: 1px solid var(--color-borde);
    border-radius: 5px;
    overflow-y: auto;
    cursor: initial;
    height: auto;
    width: 100%;
    padding: 0;
    margin: 0;
}

.submenu ul {
    margin: .5rem auto !important;
    flex-direction: column;
    list-style: none;
    min-height: 4rem;
    display: flex;
    height: auto;
    width: 100%;
    padding: 0;
    gap: 2.5px;
}

.submenu ul .separacion {
    background-color: var(--color-borde);
    margin: 0 2.5% !important;
    height: 1px;
    padding: 0;
    width: 95%;
}

.submenu ul li {
    border-radius: 2px;
    margin-left: 2.5%;
    margin-top: 1px;
    cursor: pointer;
    height: 2rem;
    width: 95%;
}
.submenu ul li.no-clic { cursor: initial; }
.submenu ul li:not(.no-clic):hover { background-color: var(--color-hover); }
.submenu ul li::after {
    content: '';

    background-color: var(--color-borde);
    margin-top: 1px;
    display: block;
    height: 1px;
    width: 100%;
}
.submenu ul li:last-child::after { display: none; }

.submenu ul li a,
.submenu ul li p {
    color: var(--color-titulo);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.submenu ul li p {
    word-wrap: break-word;
    font-weight: 700;
    overflow: hidden;
    max-width: 100%;
}
