{% extends "base_trivia.html" %}

<!-- {% load static %}
{% load i18n %}

<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock head_title %}</title>

    <link
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      crossorigin="anonymous"
      rel="stylesheet"
    >
    <link rel="stylesheet" href="{% static 'css/aplicaciones_sociales/aplicaciones-sociales.css' %}">
    <link rel="stylesheet" href="{% static 'css/aplicaciones_sociales/aplicaciones-sociales-media-queries.css' %}">
    
    {% block extra_head %}
    {% endblock extra_head %}
  </head>
  <body>
    {% block body %}
      {% if messages %}
        <div>
          <strong>{% trans "Messages" %}:</strong>

          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      <div>
        <strong>Menu:</strong>

        <ul>
          {% if user.is_authenticated %}
            <li><a href="{% url 'account_email' %}">
              {% trans "Change" %}&nbsp;E-mail
            </a></li>
            <li><a href="{% url 'account_logout' %}">
              {% trans "Sign Out" %}
            </a></li>
          {% else %}
            <li><a href="{% url 'account_login' %}">
              {% trans "Sign In" %}
            </a></li>
            <li><a href="{% url 'account_signup' %}">
              {% trans "Sign Up" %}
            </a></li>
          {% endif %}
        </ul>
      </div>

      {% block content %}
      {% endblock content %}
    {% endblock body %}

    {% block extra_body %}
    {% endblock extra_body%}
  </body>
</html> -->
