:root {
    --color-btn-secundario: #58BC82;
    --color-btn-principal: #00A5CF;

    --bgc-secundario: #F9F9F9;
    --bgc-primario: #FFFFFF;

    --color-sombras: #DDDDDD;
    --color-titulo: #2B303A;
    --color-borde: lightgray;
    --color-hover: #EEEEEE;

    --color-extra: #00A5CF;
}