{% extends 'base_trivia.html' %}

{% load static %}
{% load i18n %}

{% block titulo %}{% trans "Crear Pregunta" %}{% endblock titulo %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/crear_pregunta/crear-pregunta.css' %}">
{% endblock estilos %}

{% block scripts %}
    <script src="{% static 'js/crear_pregunta.js' %}"></script>
{% endblock scripts %}

{% block contenido %}
    <div class="container">
        <h1>{% trans "Crear Pregunta" %}</h1>
        <hr>
        <form method="post" id="form-crear-pregunta">
            {% csrf_token %}

            <div class="form-group">
                <label for="pregunta">Pregunta*</label>
                <textarea
                    class="form-control"
                    autofocus="true"
                    maxlength="255"
                    name="pregunta"
                    id="pregunta"
                    type="text"
                    required
                ></textarea>
            </div>
            <div class="form-group">
                <label for="respuestas">Respuestas*</label>
                <input type="hidden" name="respuesta_correcta" required>
                <input type="hidden" name="respuestas" required>

                <div id="respuestas">
                    <div class="respuesta">
                        <input type="text" class="form-control" maxlength="100" data-correcto="true">
                        <button type="button" class="btn btn-success respuesta-correcta">
                            <img
                                src="{% static 'img/check.png' %}"
                                alt="{% trans 'Respuesta correcta' %}"
                            >
                        </button>
                    </div>
                    <div class="respuesta">
                        <input type="text" class="form-control" maxlength="100" data-correcto="">
                        <button type="button" class="btn btn-success respuesta-correcta">
                            <img
                                src="{% static 'img/check.png' %}"
                                alt="{% trans 'Respuesta correcta' %}"
                            >
                        </button>
                    </div>
                </div>
                <button type="button" class="btn btn-dark btn-block" id="nueva-respuesta">
                    <img src="{% static 'img/plus.png' %}" alt="{% trans 'Nueva' %}">
                </button>
            </div>
            <hr>
            <button type="button" class="btn btn-primary btn-block my-4" id="enviar-formulario">
                Crear Pregunta
            </button>
        </form>
    </div>
{% endblock contenido %}
