{% extends "../base_trivia.html" %}

{% load crispy_forms_tags %}
{% load socialaccount %}
{% load static %}
{% load i18n %}

{% block titulo %}{% trans "Regístrate" %}{% endblock titulo %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/aplicaciones_sociales/aplicaciones-sociales.css' %}">
    <link rel="stylesheet" href="{% static 'css/aplicaciones_sociales/aplicaciones-sociales-media-queries.css' %}">
{% endblock estilos %}

{% block contenido %}
    <div class="container">
        {% get_providers as socialaccount_providers %}

        {% if socialaccount_providers %}
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}

            <div class="division-formulario">
                <span class="text-muted">
                OR
                </span>
            </div>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            {{ formulario | crispy }}

            <button type="submit" class="btn btn-primary btn-block">
                {% trans "Regístrate" %}
            </button>
        </form>
    </div>
{% endblock contenido %}
