@import url('../colores.css');

#acciones {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    color: white;
    margin: 1em 0;
    gap: .25em;
}

#acciones a {
    position: relative;
    border: none;
    width: 100%;
}
#acciones a img {
    height: calc(100% - .750em);
    position: absolute;
    left: .75em;
    top: .375em;
}

#acciones a#crear-pregunta { background-color: var(--color-btn-principal); }
#acciones a#jugar { background-color: var(--color-btn-secundario); }
