@import url("./animaciones-preguntas.f28ba4a4133f.css");
@import url("./contador-preguntas.85e882560f2d.css");
@import url("../colores.357ce5cf847f.css");

#form-preguntas {
    background-color: var(--bgc-primario);
    max-height: calc(100vh - 12em);
    overflow-y: hidden;
    position: relative;
}
#form-preguntas > h1,
#form-preguntas > h3 {
    text-align: center;
    width: 100%;
}

.pregunta {
    background-color: var(--bgc-primario);
    max-height: calc(100vh - 12em);
    height: calc(100vh - 12em);
    flex-direction: column;
    display: flex;
    width: 100%;
    gap: 1em;
}

.cabecera-pregunta {
    background-color: var(--bgc-secundario);
    max-height: 5em;
    overflow: auto;
    padding: 1em;
    height: 5em;
}
