{% load i18n %}

<table class="table table-hover">
    <caption>
        {% trans 'Mejores puntuaciones' %}
    </caption>
    <thead>
        <tr>
            <th>{% trans 'Usuario' %}</th>
            <th>{% trans 'Puntuación' %}</th>
            <th>{% trans 'Nivel' %}</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
            <tr
                {% if usuario.usuario.username == user.username %}
                    class="table-active"
                {% endif %}
            >
                <td>{{ usuario.usuario.username }}</td>
                <td>{{ usuario.puntuacion_actual }}</td>
                <td>{{ usuario.nivel_juego }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr class="table-active">
            <td>{{ user.username }}</td>
            <td>{{ usuario_juego.puntuacion_actual }}</td>
            <td>{{ usuario_juego.nivel_juego }}</td>
        </tr>
    </tfoot>
</table>
